// COLOR //
    $davys-grey: hsla(0, 0%, 35%, 1);
    $gray-web: hsla(0, 0%, 50%, 1);
    $quick-silver: hsla(0, 0%, 65%, 1);
    $light-gray: hsla(0, 0%, 80%, 1);
    $cultured: hsla(0, 0%, 95%, 1);

    $gray-gradient: linear-gradient(90deg, $davys-grey, $quick-silver);


*{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
}


.grid-flow{
    display: grid;
    place-content: center;
    min-height: 100vh;


}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}