@import 'reset';
@import '_config';


.navigation{
    background: transparent !important;
    height: 100px;
    
    
        h1{
            font-size: 38px;
            font-weight: 700;
            background: -webkit-linear-gradient(0deg, red, yellow, green, cyan, blue, magenta);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
            

            &:hover{
                color: $light-gray;
                
                
            }
        }

        &-links{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3.125rem;
            list-style-type: none;

            a{
                font-size: 20px;
                text-decoration: none;
                color: inherit;
                

                &:hover{
                    color: $light-gray;
                    
                    
                }
    
        }
    
}






.navCenter{
    
    
    
    color: $cultured;
    height: 6.25rem;

    h1{
        color: blue($color: #000000);
    }

    
}



.navLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.125rem;
    list-style-type: none;
    height: 6.25rem;
    
  


    

    }
    
}


main{
    

    .container{
        background-color: $davys-grey;
        width: 31.25rem;
        padding: 3.125rem;
        color: $cultured;
        border-radius: 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
        text-align: center;
    }
        
}


.colorName{
    text-transform: uppercase;    
}


.buttonNewColor{
    font-style: inherit;
    
}

@media only screen and (max-width: 768px){
    .navCenter{
        gap: 0;
    }

   



    main .container {
        max-width: 300px;
    }
}