@import 'reset';
@import '_config';


body{
    background-color: #FFF;
}



// NAVIGATION CONTROL // 




.navigation{
    overflow: hidden;
    background-color: $quick-silver;
    margin: 10px 15px;
    padding: 15px 0;
    width: 90vw;

     display: flex;
     justify-content: center;
     align-items: center;    
     gap: 1.875rem;
    
 

    .logo{
        width: 80px;    
    }

     h1 > a{
      font-size: 1.75rem;
      font-weight: 700;
      color: $blackish-brown;
      cursor: pointer;
      text-decoration: none;

        &:hover{
            color: $accent-purple;
        }
    }

    
    &-links{
        display: flex;
        gap: 1.875rem;
        list-style-type: none;
        

        a {
            text-decoration: none;
            color: $blackish-brown;
            font-size: 1.2rem;

            &:hover{
                color: $accent-purple;
                text-decoration: underline;
            }
        }


    }

 }







main{

    height: 80vh; 
    overflow-y: hidden;
    

.container{
    
    width: 400px;
    padding: 40px;
    background-color: $quick-silver;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    .colorName{
        text-transform: uppercase;
        text-shadow: 1px 1px $blackish-brown;
        color: #FFF;
    }

    .buttonNewColor{
            cursor: pointer;
            border-radius: 5px;
            font-family: inherit;
     
            &:active{
                box-shadow: 0px 0px $davys-grey;
                transform: translate(3px, 3px);
            }

    }
}
}


